
/* Cores e Fonte */
body {
    background-color: #DAC786; /* Cor de fundo suave */
    font-family:Georgia, 'Times New Roman', Times, serif; /* Fonte elegante */
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* ----------------- form experiência ----------- */
}
/* dropdown menu */
.dropbtn {
    background-color:
    color white;
    padding: 14x;
    font-size: 14x;
    border: none;
    cursor: pointer;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 660px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: 0;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .show {display: block;}

/* Estilização do slideshow */
.slider {
    margin: 0 auto;
    margin-top: 60px;
    width: 100vw;
    height: 60vh; /* Ajuste proporcional para manter o formato retangular */
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 100%; /* Ajusta a altura ao tamanho do slider */
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorção */
}

/* Navegação */
#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}
/*roundbtn */
.rounded-checkbox {
    width:15px;
    height: 15px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid black;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.rounded-checkbox:checked {
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
    background-color: blue;
}

/* Estilização do conteúdo */

h1, h3 {
    color: #333;
    text-transform: uppercase;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
h1 {
    font-size: 2.8em;
    margin-bottom: 20px;
}
h3 {
    font-size: 1.8em;
    margin-top: 40px;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
    margin-bottom: 10px;
}

/*Estilização da foto lateral do seletor */
.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    justify-content: space-between;
}

.foto {
    overflow: hidden;
    width: 50vw;
    object-fit:cover;
    align-items: center;
}
.container1 {
    padding: 20px;
    text-align: left;
}
    
.container1 h1 {
    text-align: center;
    font-size: 40px;
}


/* Rodapé */
footer {
    text-align: center;
    padding: 10px; /* Ajustado para mais espaço */
    background-color: #FFF5E1;
    color: #333;
    position: relative; /* Ajustado para permitir mais espaço */
    width: 100%;
    margin-top: 20px; /* Adicionada margem superior para espaçamento */
}

footer a {
    color: #04AA6D;
    text-decoration: none;
    margin: 0 10px;
}
       /* Estilos para o modal */
       .modal {
        display: none; 
        position: fixed; 
        z-index: 1; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgba(0,0,0,0.4); 
        padding-top: 60px;
    }
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; 
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        max-width: 300px;
        text-align: center;
    }
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    .modal-buttons {
        margin-top: 20px;
    }
    .modal-button {
        background-color: #28a745;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
        margin: 5px;
        transition: background-color 0.3s;
    }
    .modal-button:hover {
        background-color: #218838;
    }
    .modal-button.secondary {
        background-color: #6c757d;
    }
    .modal-button.secondary:hover {
        background-color: #5a6268;
    }
